    $black: #222222;
    $pink-bkg: #F1E4E6;
    $pink-color: #F09BA7;
    $white-color:#FFFFFF;
    $blak-color:#000000;
    $grey-color: #5D5D5D;
    $grey-bkg: #F8F8F8;
    $black-c-bkg: #222224;
    $white-c-color: #FBFBFB;
    $pink-c-color: #F16D7F;

