.brand {
    display: flex;
    margin-bottom: 63px;
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: $pink-bkg;
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;
    padding-left: 26px;
}

.brand__title:before {
    background-color: $pink-color;
    bottom: 5px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 7px;
    width: 12px;
}

.brand__subtitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; 
    display: block;      
}

.brand__subtitle-pink {
    color:$pink-color ;
}